In [8]:
raw_data = '''	Экспорт	Импорт
Россия	1181,2	3305,2
Беларусь	38,7	11,0
Казахстан	18,0	11,8
Австрия	7,7	47,2
Бельгия	9,6	21,1
Великобритания	58,2	136,4
Венгрия	144,7	0,5
Германия	54,2	797,1
Дания	3,9	56,6
Испания	2,6	36,8
Италия	27,8	326,0
Канада	2,6	50,5
Люксембург	9,9	98,2
Нидерланды	31,4	122,6
Республика Корея	7,6	73,8
США	167,7	262,2
Финляндия	30,9	43,6
Франция	20,5	122,5
Чехия	0,4	30,2
Швейцария	23,3	148,7
Швеция	4,8	27,2
Япония	5,0	49,9
Индия	230,9	4,7
Кипр	6,1	58,3
Китай	135,3	417,3'''

In [25]:
data_mod = raw_data.replace(',', '.')
data_mod = raw_data.split('\n')
data_mod = [row.split('\t') for row in data_mod]
# data_mod = [[row[0], float(row[1]), float(row[2])] for indx, row in enumerate(data_mod) if indx>=1]

In [10]:
import pandas as pd

In [35]:
df = pd.DataFrame(data_mod[1:], columns=data_mod[0])
df['Экспорт'] = df['Экспорт'].str.replace(',', '.').astype(float)
df['Импорт'] = df['Импорт'].str.replace(',', '.').astype(float)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
           25 non-null object
Экспорт    25 non-null float64
Импорт     25 non-null float64
dtypes: float64(2), object(1)
memory usage: 680.0+ bytes

In [37]:
df.head()

              Экспорт  Импорт
0     Россия   1181.2  3305.2
1   Беларусь     38.7    11.0
2  Казахстан     18.0    11.8
3    Австрия      7.7    47.2
4    Бельгия      9.6    21.1

## Что можно попробовать?

**Radial Column Chart**
![](https://datavizcatalogue.com/methods/images/top_images/SVG/radial_column_chart.svg)
**Nightingale Rose Chart**
![](https://datavizcatalogue.com/methods/images/top_images/SVG/nightingale_rose_chart.svg)
**Radial Bar Chart**
![](https://datavizcatalogue.com/methods/images/top_images/radial_bar_chart.png)