## Подсчет профиля города

### Содержание:
* Подгрузка выборки
* Подсчет количества по годам
* Подсчет лидеров заявителей города
* [Подсчет количества по областям с fractional count](#second-bullet)
* Подсчет заявителей по областям с $ИТС \geq 1$

In [42]:
import pandas as pd
from glob import glob
from collections import defaultdict
import numpy as np

Подгрузим загруженную с patstat выборку

In [43]:
CITY_NAME = 'токио_fua'

In [44]:
df = pd.DataFrame([])
for indx, path in enumerate((glob('{}\\resulttable-*\\*'.format(CITY_NAME)))):
    print(f'Количество заявок в архиве #{indx}:', pd.read_table(path, sep=';')['appln_id'].nunique())
    df = pd.concat([df, pd.read_table(path, sep=';', na_values='hue')])

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: read_table is deprecated, use read_csv instead.
  after removing the cwd from sys.path.

Количество заявок в архиве #0: 2429
Количество заявок в архиве #1: 6029
Количество заявок в архиве #2: 6243
Количество заявок в архиве #3: 6039
Количество заявок в архиве #4: 6060
Количество заявок в архиве #5: 5827
Количество заявок в архиве #6: 6162
Количество заявок в архиве #7: 5666
Количество заявок в архиве #8: 6550
Количество заявок в архиве #9: 5995
Количество заявок в архиве #10: 6258
Количество заявок в архиве #11: 6070
Количество заявок в архиве #12: 6490
Количество заявок в архиве #13: 6324
Количество заявок в архиве #14: 5808
Количество заявок в архиве #15: 6105
Количество заявок в архиве #16: 6227
Количество заявок в архиве #17: 6306
Количество заявок в архиве #18: 6272
Количество заявок в архиве #19: 6301
Количество заявок в архиве #20: 6312
Количество заявок в архиве #21: 6535
Количество заявок в архиве #22: 7041
Количество заявок в архиве #23: 6192
Количество заявок в архиве #24: 5623
Количество заявок в архиве #25: 6380
Количество заявок в архиве #26: 6418
Количество заявок в архиве #27: 6433
Количество заявок в архиве #28: 6199
Количество заявок в архиве #29: 6348
Количество заявок в архиве #30: 6151
Количество заявок в архиве #31: 5897
Количество заявок в архиве #32: 6106
Количество заявок в архиве #33: 6181
Количество заявок в архиве #34: 6343
Количество заявок в архиве #35: 6103
Количество заявок в архиве #36: 6270
Количество заявок в архиве #37: 6127
Количество заявок в архиве #38: 6146
Количество заявок в архиве #39: 6332
Количество заявок в архиве #40: 6411
Количество заявок в архиве #41: 6417
Количество заявок в архиве #42: 6047

In [45]:
df.head()

,appln_id,appln_filing_year,appln_auth,techn_field_nr,person_id,person_ctry_code,person_name,person_address,applt_seq_nr
0,425993975,2014,EP,20,6610,JP,NTN Corporation,"3-17, Kyomachibori 1-chome, Nishi-ku,Osaka-shi...",1
1,425993975,2014,EP,31,6610,JP,NTN Corporation,"3-17, Kyomachibori 1-chome, Nishi-ku,Osaka-shi...",1
2,423224692,2014,EP,31,6610,JP,NTN Corporation,"3-17, Kyomachibori 1-chome, Nishi-ku,Osaka-shi...",1
3,473040864,2016,EP,1,7673,JP,"Dai Nippon Printing Co., Ltd.","1-1-1, Ichigaya-Kagacho, Shinjuku-ku,Tokyo 162...",1
4,473040864,2016,EP,9,7673,JP,"Dai Nippon Printing Co., Ltd.","1-1-1, Ichigaya-Kagacho, Shinjuku-ku,Tokyo 162...",1

In [46]:
df.shape

(423631, 9)

In [47]:
df.appln_id.nunique()

238991

## if needed
df = df.drop_duplicates()

In [48]:
df.shape

(423631, 9)

In [49]:
df.appln_id.nunique()

238991

## if sample to quick share is needed
df_sample = df[df.appln_id.isin(np.random.choice(df.appln_id.unique(), 100))].sort_values('appln_id').reset_index(drop=True)
df_sample.to_excel(f'.\\{CITY_NAME}_выборка 100 заявок.xlsx', index=False)

**Посчитаем количество заявок города по годам**

v
df = df.drop(df[df.person_name == 'Lamjav, Munich'].index)

## if extra filter is needed
df = df[~((df.person_address.str.lower().str.contains('higashikawasaki|hokkaido|aomori|iwate|miyagi|akita|yamagata|fukushima|niigata|toyama|ishikawa|fukui|nagano|gifu|aichi|mie|shiga|kyoto|osaka|hyogo|nara|wakayama|tottori|shimane|okayama|hiroshima|yamaguchi|tokushima|kagawa|ehime|kochi|fukuoka|saga|nagasaki|kumamoto|oita|miyazaki|kagoshima|okinawa')) 
     | 
     (df.person_name.str.lower().str.contains('higashikawasaki|hokkaido|aomori|iwate|miyagi|akita|yamagata|fukushima|niigata|toyama|ishikawa|fukui|nagano|gifu|aichi|mie|shiga|kyoto|osaka|hyogo|nara|wakayama|tottori|shimane|okayama|hiroshima|yamaguchi|tokushima|kagawa|ehime|kochi|fukuoka|saga|nagasaki|kumamoto|oita|miyazaki|kagoshima|okinawa')))]

In [52]:
pd.DataFrame(df.groupby('appln_filing_year').nunique()['appln_id']).T

appln_filing_year   2014   2015   2016   2017
appln_id           60342  60922  56718  35923

df.person_address.value_counts()[df.person_address.value_counts() > 500]

**Посчитаем топ заявителей по городу**
* Нужно оставить тех, кто входит в первые 2 квартиля

In [53]:
%%time
current_aplicant = []
for indx, person_name in enumerate(df.person_name.unique()):
    #df[df.person_name == person_name].groupby(['appln_filing_year', 'appln_id']).nunique()['appln_id'].groupby('appln_filing_year').size()
    aux_ = pd.DataFrame(df[df.person_name == person_name].groupby(['appln_filing_year', 'appln_id']).nunique()['appln_id'].groupby('appln_filing_year').size()).T
    #aux_.index = [person_name]
    #aux_ = pd.DataFrame(dict(aux_)).reset_index()
    current_aplicant.append([])
    current_aplicant[indx].append(person_name)
    for year in [2014, 2015, 2016, 2017]:
        try:
            current_aplicant[indx].append(aux_[year][0])
        except KeyError:
            current_aplicant[indx].append(0)

Wall time: 2min 37s

In [54]:
df_applicants_leaders = pd.DataFrame(current_aplicant, columns=['person_name', 2014, 2015, 2016, 2017]).assign(summa2014to16 = lambda x:x[2014]+x[2015]+x[2016])
df_applicants_leaders.columns = df_applicants_leaders.columns.tolist()[0:-1] + ['2014-16']

In [55]:
df_applicants_leaders

,person_name,2014,2015,2016,2017,2014-16
0,"Dai Nippon Printing Co., Ltd.",133,133,158,40,424
1,Keihin Corporation,22,36,19,15,77
2,Canon Kabushiki Kaisha,3979,4100,3941,3422,12020
3,"Sumitomo Metal Mining Co., Ltd.",31,69,44,18,144
4,FUJITSU LIMITED,2256,1925,1954,1775,6135
5,"Ricoh Company, Ltd.",1541,1553,1516,816,4610
6,National University Corporation Tokyo Universi...,2,9,2,0,13
7,FANUC CORPORATION,32,63,93,82,188
8,"NIPPON SODA CO., LTD.",16,10,19,3,45
9,"Mitsubishi Gas Chemical Company, Inc.",138,91,116,16,345
10,FUJIFILM Corporation,208,263,281,93,752
11,Chuo University,2,0,6,0,8
12,Kabushiki Kaisha TOPCON,28,51,30,1,109
13,Kabushiki Kaisha Toshiba,3444,3301,2204,1561,8949
14,NOK Corporation,73,112,124,30,309
15,"IDEMITSU KOSAN CO., LTD.",3,6,1,1,10
16,Seiko Epson Corporation,368,352,321,205,1041
17,Sanden Corporation,2,1,0,0,3
18,"TAISEI PLAS CO., LTD.",2,0,0,0,2
19,"SUMITOMO HEAVY INDUSTRIES, LTD.",111,75,75,38,261
20,Mitsubishi Jidosha Kogyo Kabushiki Kaisha,78,77,77,80,232
21,"Koito Manufacturing Co., Ltd.",129,107,127,75,363
22,Central Research Institute of Electric Power I...,3,1,5,0,9
23,Covalent Materials Corporation,3,2,0,1,5
24,Calsonic Kansei Corporation,28,34,21,3,83
25,Japan Aerospace Exploration Agency,14,8,8,0,30
26,"Hosokawa Yoko Co., Ltd.",8,9,5,4,22
27,"Amada Co., Ltd.",1,0,0,0,1
28,"Max Co., Ltd.",8,15,41,49,64
29,YA-MAN LTD,2,0,0,0,2
...,...,...,...,...,...,...
6455,TOKYO KOKI CO LTD,0,1,1,0,2
6456,TOKYO INSTRUMENTS INC,1,0,2,0,3
6457,TOKYO KEISO CO LTD,4,9,0,1,13
6458,TOKYO TEKKO CO LTD,3,1,4,0,8
6459,TOKYOBAY COMMUNICATION CO LTD,1,0,0,0,1
6460,TOKYO DENSETSU SERVICE KK,0,2,3,2,5
6461,TOKYO DENTAL COLLEGE,0,0,0,1,0
6462,YOKOHAMA HEAT USE TECHNOLOGY,0,0,0,1,0
6463,"TOKYO OHKA KOGYO INDUSTRY CO., LTD.",0,0,0,1,0
6464,SEIKO INDUSTRY TOKYO CORPORATION,0,0,1,0,1
6465,TOKYO KEIKI AVIATION INC,0,0,1,0,1
6466,TOKYO ROKI KK,0,3,0,0,3
6467,TOKYO GIKEN KOGYO KK,1,0,0,0,1
6468,"TOKYO OHKA KOGYO CO., LTD",0,0,0,1,0
6469,TOKYO UNIVERSITY OF AGRICULTURE AND TECHNOLOGY...,0,0,2,1,2
6470,YOKOHAMA DENA BAYSTARS BASEBALL CLUB INC,4,0,0,0,4
6471,YOKOHAMA KINPEI,5,1,0,0,6
6472,TOKYO UNIV OF SCIENCE FOUNDATION,0,0,0,1,0
6473,"TOKYO PRINTING INK MFG CO., LTD.",0,0,1,0,1
6474,"TOKYO INSTITUTE OF TECHNOLOGY, NATIONAL UNIVER...",0,0,1,0,1
6475,TOKYO LIGHT IND CO LTD,0,0,1,0,1
6476,"TOKYO UNIQUE CO., LTD",1,0,0,0,1
6477,株式会社ｚｉｂａ ｔｏｋｙｏ,0,0,1,0,1
6478,TOKYO UNIVERSITY OF AGRICULTURE AND TECHNOLOGY,2,1,1,1,4
6479,TOKYO KEISOKU:KK,0,0,0,1,0
6480,TOKYO SMARTCAST INC.,0,0,0,1,0
6481,"TOKYO INSTITUTE OF TECHNOLOGY, A JAPANESE NATI...",0,1,1,2,2
6482,UNIV TOKYO METROPOLITAN,0,1,0,2,1
6483,TOKYO UNIVERSITY,0,0,1,0,1
6484,TOKYO BOEKI TECHNO-SYSTEM LTD,0,1,0,0,1

In [56]:
quantiles = df_applicants_leaders['2014-16'].quantile([0.25,0.5,0.75])
quantiles

0.25    1.0
0.50    1.0
0.75    4.0
Name: 2014-16, dtype: float64

In [57]:
df_to_save = df_applicants_leaders[df_applicants_leaders['2014-16'] >= quantiles[0.5]].sort_values('2014-16', \
                                                    ascending=False)
df_to_save.to_excel(f'{CITY_NAME}\\{CITY_NAME}_лидеры.xlsx', index=False)

In [58]:
df[['appln_id', 'appln_filing_year']].nunique()

appln_id             213905
appln_filing_year         4
dtype: int64

**Посчитаем значения по областям с учетом fractional_count** <a class="anchor" id="second-bullet"></a>

> **структура словаря**:
> ```
>    Область
>        Год i
>            Число заявок за год i с учетом fractional_count
>            
>Пример
>    Область
>        2014
>            Число заявок за год i с учетом fractional_count
>        2015
>            Число заявок за год i с учетом fractional_count
>        2016
>            Число заявок за год i с учетом fractional_count
>        2017
>            Число заявок за год i с учетом fractional_count
>```

In [59]:
'''
    На вход:
        сырая табличка заявок
    На выход: словарь структуры выше, содержащий в себе количество заявок по областям по годам 
            с учетом fractional count
    
    dict_of_tech_fileds_per_city :dict: словарь для счёта по тех.областям
    tech_fileds_column :pd Series: колонка для хранения тех.областей
    appln_year :np array: (фактически: единичной длины) 
    tech_fileds_list :np array: лист со всеми (уникальными) тех.бластями заявки, 
                                длина листа равна количеству областей у заявки 
    fractional_count_per_application :float: число с плавающей точкой, равное доле, 
    которую нужно прибавить к каждой области по итогами анализа текущей заявки
    1/количество тех.областей = dfrac{1}{len(tech_fileds_list)}
'''

# создадим словарь структуры, описанной выше
dict_of_tech_fileds_per_city = defaultdict(lambda: defaultdict(np.float16))

# пройдёмся по всем уникальным заявкам в цикле и возьмём
#    А) Колонку с тех областями для каждой заявки
#    Б) Год каждой заявки
for appln_id in df['appln_id'].unique():
    tech_fileds_column = df[df['appln_id'] == appln_id].techn_field_nr
    appln_year = df[df['appln_id'] == appln_id].appln_filing_year.unique()
    # если внезапно было больше одного года для заявки, залогируем это выводом года. пока такого не было
    if len(appln_year) != 1:       
        print(appln_year)
    tech_fileds_list = tech_fileds_column.unique()
    fractional_count_per_application = 1 / len(tech_fileds_list)
    
    # добавим в словарь к каждой встретившеся в заявке области долю fractional_count по итогам анализа заявки
    for tech_filed in tech_fileds_list:
        dict_of_tech_fileds_per_city[tech_filed][appln_year[0]] += fractional_count_per_application

In [60]:
df_techs = pd.DataFrame(dict_of_tech_fileds_per_city).T.sort_index().replace(np.nan, 0)
df_techs = df_techs.assign(summa2014to16 = lambda x:x[2014]+x[2015]+x[2016])
df_techs.columns = df_techs.columns.tolist()[0:-1] + ['2014-16']
df_techs.head()

          2014         2015         2016         2017       2014-16
1  5199.898810  4984.857143  4222.973810  3002.635714  14407.729762
2  3856.600000  3521.471429  3095.644048  2246.111905  10473.715476
3  1912.908333  2027.583333  2100.966667  1463.266667   6041.458333
4  3519.558333  3263.533333  3290.316667  1661.733333  10073.408333
5   752.726190   665.769048   608.169048   445.292857   2026.664286

In [61]:
df_techs

           2014         2015         2016         2017       2014-16
1   5199.898810  4984.857143  4222.973810  3002.635714  14407.729762
2   3856.600000  3521.471429  3095.644048  2246.111905  10473.715476
3   1912.908333  2027.583333  2100.966667  1463.266667   6041.458333
4   3519.558333  3263.533333  3290.316667  1661.733333  10073.408333
5    752.726190   665.769048   608.169048   445.292857   2026.664286
6   6687.655952  6400.826190  5856.516667  4411.166667  18944.998810
7    677.810714   607.450000   646.150000   398.266667   1931.410714
8   5030.522619  5355.857143  4921.130952  3862.221429  15307.510714
9   4730.294048  4946.876190  4880.411905  3572.238095  14557.582143
10  2635.311905  2736.792857  2551.476190  1572.016667   7923.580952
11   297.500000   286.483333   292.050000   132.616667    876.033333
12   953.660714  1010.492857   955.616667   696.783333   2919.770238
13  1837.710714  2281.242857  2216.008333  1523.283333   6334.961905
14  1003.402381   954.669048   769.552381   310.400000   2727.623810
15   815.400000   842.533333   756.683333   323.316667   2414.616667
16   685.350000   741.626190   675.116667   279.733333   2102.092857
17  1391.996429  1523.669048  1468.595238   538.376190   4384.260714
18   230.159524   176.183333   152.633333    55.733333    558.976190
19  1354.630952  1315.838095  1250.088095   545.361905   3920.557143
20  1245.564286  1432.107143  1167.130952   464.588095   3844.802381
21  1416.821429  1526.569048  1424.814286   785.411905   4368.204762
22   108.584524   108.145238    89.416667    50.000000    306.146429
23   902.539286   890.585714   767.254762   394.626190   2560.379762
24   561.727381   498.216667   438.700000   217.300000   1498.644048
25   990.269048  1004.783333   887.983333   620.783333   2883.035714
26   981.416667  1021.061905   921.466667   359.350000   2923.945238
27  1421.841667  1415.600000  1179.816667   651.709524   4017.258333
28  1883.263095  1842.069048  1885.785714  1378.745238   5611.117857
29  1071.510714  1289.428571  1332.895238   569.611905   3693.834524
30   669.258333   756.150000   497.833333   214.050000   1923.241667
31  1268.266667  1360.533333  1318.316667   686.459524   3947.116667
32  2930.785714  2868.000000  2869.016667  1809.466667   8667.802381
33   436.060714   385.959524   382.650000   300.233333   1204.670238
34   405.276190   393.969048   411.352381   184.726190   1210.597619
35   475.716667   485.066667   433.466667   195.383333   1394.250000

Получим заявителей по областям с $ИТС >= 1.1$
* Нужно убрать хвосты, равные _менее_ $5$ заявок за $2014-2016$ годы

In [62]:
fields_with_its_greater_or_equal1and1 = '''1
3
4
6
8
9
10
12
13
23
28
29
31
32'''
fields_with_its_greater_or_equal1and1 = fields_with_its_greater_or_equal1and1.split('\n')
print('string of fileds for sql: (', ', '.join(fields_with_its_greater_or_equal1and1), ')')
fields_with_its_greater_or_equal1and1 = tuple(map(int, fields_with_its_greater_or_equal1and1))

string of fileds for sql: ( 1, 3, 4, 6, 8, 9, 10, 12, 13, 23, 28, 29, 31, 32 )

In [63]:
%%time
# создадим словарь структуры, описанной выше
dict_of_leaders_per_tech_fileds = defaultdict(lambda: defaultdict(lambda: defaultdict(int)))

for appln_id in df['appln_id'].unique():
    
    current_app = df[df['appln_id'] == appln_id][['appln_filing_year', 'techn_field_nr', 'person_name']].drop_duplicates()
#     curr_app_year = current_app.appln_filing_year.unique()
#     curr_app_fields = current_app.techn_field_nr.unique()
    
    for row in current_app.values:
        curr_app_year, tech_filed, person_name = row
        if tech_filed in fields_with_its_greater_or_equal1and1:
            dict_of_leaders_per_tech_fileds[tech_filed][curr_app_year][person_name] += 1

Wall time: 9min 48s

In [64]:
%%time
df_leaders_per_tech_fileds = pd.DataFrame([])
flatten_of_leaders_per_tech_fileds = []
for key, val in dict_of_leaders_per_tech_fileds.items():
    cur_field = pd.DataFrame(val).replace(np.nan, 0)
    cur_field = cur_field.reindex(columns=[2014, 2015, 2016, 2017])
    cur_field = cur_field.assign(summa2014to16 = lambda x:x[2014]+x[2015]+x[2016])
    cur_field.columns = cur_field.columns.tolist()[0:-1] + ['2014-16']
    cur_field = cur_field[cur_field['2014-16'] >= 5]
    cur_field['tech_field'] = key
    cur_field.head()
    df_leaders_per_tech_fileds = pd.concat([df_leaders_per_tech_fileds, cur_field])

Wall time: 995 ms

In [65]:
df_leaders_per_tech_fileds = df_leaders_per_tech_fileds.sort_values(['tech_field', '2014-16'], ascending=[True, False])
df_leaders_per_tech_fileds

,2014,2015,2016,2017,2014-16,tech_field
Kabushiki Kaisha Toshiba,468.0,365.0,308.0,261.0,1141.0,1
Mitsubishi Electric Corporation,484.0,423.0,183.0,80.0,1090.0,1
YAZAKI CORPORATION,306.0,306.0,263.0,231.0,875.0,1
Sony Corporation,249.0,254.0,178.0,105.0,681.0,1
Canon Kabushiki Kaisha,254.0,184.0,164.0,130.0,602.0,1
Toyota Jidosha Kabushiki Kaisha,108.0,226.0,210.0,335.0,544.0,1
Tokyo Electron Limited,200.0,197.0,133.0,143.0,530.0,1
"Nissan Motor Co., Ltd.",195.0,187.0,70.0,10.0,452.0,1
"Honda Motor Co., Ltd.",153.0,126.0,146.0,189.0,425.0,1
"Semiconductor Energy Laboratory Co., Ltd.",137.0,126.0,114.0,92.0,377.0,1
"Hitachi, Ltd.",136.0,129.0,98.0,39.0,363.0,1
"Hitachi Automotive Systems, Ltd.",118.0,115.0,127.0,31.0,360.0,1
TDK Corporation,114.0,92.0,145.0,164.0,351.0,1
SEIKO EPSON CORPORATION,131.0,95.0,115.0,89.0,341.0,1
"Hitachi Metals, Ltd.",115.0,137.0,85.0,46.0,337.0,1
Hitachi High-Technologies Corporation,113.0,95.0,67.0,30.0,275.0,1
"Koito Manufacturing Co., Ltd.",109.0,78.0,77.0,57.0,264.0,1
Yazaki Corporation,98.0,97.0,58.0,51.0,253.0,1
"Fuji Electric Co., Ltd.",93.0,76.0,69.0,59.0,238.0,1
FUJITSU LIMITED,90.0,68.0,71.0,67.0,229.0,1
MITSUBISHI ELECTRIC CORPORATION,95.0,67.0,53.0,5.0,215.0,1
"Ricoh Company, Ltd.",78.0,82.0,54.0,29.0,214.0,1
NEC CORPORATION,82.0,81.0,42.0,7.0,205.0,1
"Furukawa Electric Co., Ltd.",82.0,55.0,51.0,30.0,188.0,1
"NISSAN MOTOR CO., LTD.",143.0,35.0,3.0,0.0,181.0,1
KABUSHIKI KAISHA TOSHIBA,81.0,61.0,35.0,45.0,177.0,1
"Shin-Etsu Chemical Co., Ltd.",51.0,41.0,85.0,30.0,177.0,1
"Stanley Electric Co., Ltd.",40.0,63.0,66.0,23.0,169.0,1
Fujifilm Corporation,55.0,62.0,51.0,71.0,168.0,1
KABUSHIKI KAISHA YASKAWA DENKI,71.0,49.0,43.0,20.0,163.0,1
...,...,...,...,...,...,...
RENESAS ELECTRONICS CORPORATION,0.0,2.0,4.0,0.0,6.0,32
TOKYO INSTITUTE OF TECHNOLOGY,1.0,0.0,5.0,0.0,6.0,32
TOKYO KEIKI INC,1.0,1.0,4.0,1.0,6.0,32
Toshiba Solutions Corporation,1.0,4.0,1.0,0.0,6.0,32
YAMASHITA RUBBER KABUSHIKI KAISHA,3.0,3.0,0.0,0.0,6.0,32
YOKOHAMA NATIONAL UNIV,3.0,1.0,2.0,0.0,6.0,32
"Autoliv Nissin Brake Systems Japan Co., Ltd.",4.0,1.0,0.0,0.0,5.0,32
DIC Corporation,0.0,4.0,1.0,0.0,5.0,32
"Fukoku Co., Ltd.",3.0,1.0,1.0,0.0,5.0,32
"HITACHI AUTOMOTIVE SYSTEMS, LTD.",2.0,1.0,2.0,0.0,5.0,32
"HITACHI, LTD.",2.0,2.0,1.0,0.0,5.0,32
"IMAGE CO., LTD.",0.0,0.0,5.0,0.0,5.0,32
Japan Display Inc.,2.0,2.0,1.0,5.0,5.0,32
KDDI Corporation,0.0,1.0,4.0,1.0,5.0,32
Kabushiki Kaisha TOPCON,2.0,1.0,2.0,0.0,5.0,32
Kao Corporation,2.0,0.0,3.0,0.0,5.0,32
"Kuraray Co., Ltd.",1.0,1.0,3.0,1.0,5.0,32
"National Institute of Maritime, Port and Aviation Technology",2.0,1.0,2.0,0.0,5.0,32
"Nhk Spring Co., Ltd.",0.0,5.0,0.0,0.0,5.0,32
Nidec Copal Corporation,0.0,3.0,2.0,0.0,5.0,32
Nippon Yusen Kabushiki Kaisha,2.0,3.0,0.0,1.0,5.0,32
PIONEER CORPORATION,0.0,2.0,3.0,2.0,5.0,32
SEIKO EPSON CORPORATION,1.0,3.0,1.0,2.0,5.0,32
"Sinfonia Technology Co., Ltd.",0.0,3.0,2.0,0.0,5.0,32
Sony Interactive Entertainment Inc.,0.0,0.0,5.0,3.0,5.0,32
"Sumitomo Heavy Industries, Ltd.",4.0,1.0,0.0,0.0,5.0,32
"THK Co., Ltd.",2.0,1.0,2.0,0.0,5.0,32
TOKYO UNIV OF MARINE SCIENCE & TECHNOLOGY,2.0,0.0,3.0,0.0,5.0,32
TOYOTA JIDOSHA KABUSHIKI KAISHA,0.0,3.0,2.0,5.0,5.0,32
"The Yokohama Rubber Co., LTD.",1.0,3.0,1.0,0.0,5.0,32

In [66]:
df_leaders_per_tech_fileds.reset_index().to_excel(f'{CITY_NAME}\\{CITY_NAME}_заявители_по_областям.xlsx', index=False)